@import "./variables.scss";
@import "./breakpoints.scss";

.register-container {
  height: 100vh;
  width: 100%;
  background-color: #222831;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    h1 {
      margin-bottom: 15px;
      color: white;
    }
    .form {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 400px;
      gap: 1rem;

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
      button {
        margin-top: 15px;

        @include buttonStyle;
        width: 50%;

        &:hover {
          box-shadow: 0 0 10px 1px rgba(255, 255, 255);
        }
      }
    }
    p {
      color: white;
      margin-top: 10px;

      a {
        color: white;
        cursor: pointer;
      }
    }
  }
}
