.input {
  padding: 10px 15px;
  width: 100%;
  outline: none;
  border-radius: 4px;
  border: 1px solid darkgray;
  color: black;
  font-weight: bold;

  &:focus {
    box-shadow: 0px 2px 0px 0px #00cecb;
  }
}
